:root {
    --darkBg: #212529;
    --lightBg: #f8f9fa;
    --textLight: #fff;
    --textDark: #000;
}

.dark {
    color: var(--textLight);
    background-color: var(--darkBg);
}

.light {
    color: var(--textDark);
    background-color: var(--lightBg);
}

body {
    font-family: 'Courier New', Courier, monospace !important;
    margin: 0;
}

.container {
    max-width: 800px !important;
    min-height: 100vh;
    margin: 0 auto;
}

.form-input {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
    /* width: 100%; */
    color: #fff;
    background-color: inherit;
    border-radius: 8px;
}

.form-input:focus {
    /* background-color: #fff; */
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.20rem rgb(13 110 253 / 25%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.brand {
    margin-left: 1rem;
}

.header-item {
    list-style: none;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem
}

.body {
    padding: 0.25rem 1rem;
}

.body>section {
    padding: 1rem 0;
    border-bottom: 3px dashed #d3d3d3;
}

.status {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status>.inactive {
    border: 1px solid red;
    border-radius: 24px;
    padding: 4px 8px;
    background-color: rgba(255, 0, 0, 0.363);
}

.status>.active {
    border: 1px solid #00FFAB;
    border-radius: 24px;
    padding: 4px 8px;
    background-color: #00FFAB33;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.2rem 0 0.75rem 0;
}

.input-group>label {
    display: flex;
    width: 30%;
    align-self: center;
    flex-direction: column;
}

.input-group>input {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.table {
    width: 100%;
}

.table {
    border: 1px solid #d3d3d3;
    color: inherit;
    border-radius: 4px;
    padding: 4px;
    margin: 1rem 0;
    max-width: 500;
    /* max-width: 100%;
    overflow-x: scroll; */
}

.table>tbody {
    text-align: center;
}

.table>:not(caption)>*>* {
    padding: 0.3rem 0.3rem;
    /* background-color: var(--textDark); */
    border-bottom-width: 1px;
    /* box-shadow: inset 0 0 0 9999px var(transparent); */
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin-left: 8px;
    margin-right: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fff;
    border: 1px solid #000;
}

input:checked+.slider::before {
    background-color: #000;
}


input:focus+.slider {
    box-shadow: 0 0 1px #000;
}

input:checked+.slider:before {
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wifi {
    padding: 4px;
    position: relative;
}

.ssid {
    color: rgb(20 150 220);
    background-color: transparent;
    padding: 0.3rem 0.3rem;
    border: none;
    font-size: 1rem;
}

.ssid:hover {
    cursor: pointer;
    opacity: 0.8;
}

.wifi,
.wifi::before {
    top: 5px;
    margin: -2px;
    display: inline-block;
    border: 6px double transparent;
    border-top-color: currentColor;
    border-radius: 50%;
}

.wifi:before {
    content: '';
    width: 0;
    height: 0;
}

.buttons {
    padding: 0.70rem 1rem;
    border-radius: 24px;
    /* width: 100%; */
    background-color: #86b7fe;
    border: none;
    color: inherit;
    font-size: 1rem;
    margin-top: 8px;
    transition: 0.2s box-shadow ease-out;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: -4px 1px 10px 4px rgba(54, 128, 238, 0.527);
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.px-5 {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.submit {
    width: 100%;
    text-align: center;
}

.footer {
    padding: 1rem 0;
    margin: 1rem auto;
    text-align: center;
}

@media screen and (max-width: 480px) {

    .input-group {
        flex-direction: column;
    }

    .input-group>label {
        flex-direction: row;
        width: 100%;
        margin: 8px;
    }

    .input-group>input {
        width: 100%;
    }

    .buttons {
        width: 100%;
    }
}